/* Wofi Style - Gruvbox Dark Theme */

* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 14px;
}

window {
    margin: 0px;
    border: 2px solid #458588;
    border-radius: 10px;
    background-color: #282828;
}

#input {
    margin: 10px;
    border: none;
    border-radius: 8px;
    color: #ebdbb2;
    background-color: #3c3836;
    padding: 10px;
}

#input:focus {
    border: 2px solid #458588;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: transparent;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: transparent;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #ebdbb2;
}

#entry {
    margin: 2px;
    padding: 8px;
    border-radius: 6px;
    background-color: transparent;
}

#entry:selected {
    background-color: #504945;
    border: none;
}

#entry:hover {
    background-color: #504945;
}

#img {
    margin-right: 10px;
}
